html {
  font-family     : Helvetica;
  font-size       : 18px;
  color           : white;
  background-color: black;
}

.container {
  width : 960px;
  margin: auto;
}

.container-content {
  display         : block;
  text-align      : center;
  background-color: black;
}

a {
  color          : white;
  text-decoration: none;
}

#logo {
  font-size      : 1rem;
  display        : flex;
  align-items    : center;
  flex-direction : row;
  justify-content: flex-start;
  margin-top     : 0.66rem;
  margin-bottom  : 0.66rem;
}

#logo img {
  height      : 1.5rem;
  margin-right: 1rem;
  margin-left : 0.5rem;
}

#banner {
  display          : flex;
  overflow         : hidden;
  align-items      : center;
  flex-direction   : row;
  justify-content  : flex-start;
  width            : 100%;
  height           : 25rem;
  margin           : 0;
  background-image : url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size  : cover;
}

#moto {
  display         : flex;
  flex-direction  : column;
  width           : 20rem;
  height          : auto;
  margin-top      : 9rem;
  padding         : 2rem 3rem;
  text-align      : left;
  background-color: black;
}

#moto h1 {
  font-size: 2rem;
}

#moto h4 {
  font-size     : 1rem;
  padding-bottom: 0.25rem;
  font-weight   : bold;
}

nav {
  background-color: firebrick;
}

nav ul {
  display        : flex;
  justify-content: space-between;
  padding-top    : 0.75rem;
  padding-bottom : 0.75rem;
}

.product-grid {
  background-color: white;
}

.product-grid .container {
  display        : flex;
  flex-flow      : row wrap;
  justify-content: space-between;

}

.product-grid img {
  height : 9rem;
  padding: 2rem;
}

.product-grid .container-content {
  background-color: inherit;
  border          : 4px solid black;
  margin-top      : 3rem;
  margin-bottom   : 3rem;
}
