html {
  color           : white;
  background-color: black;
  font-family     : Helvetica;
  font-size       : 18px;
}

.container {
  width : 960px;
  margin: auto;
}

.container-content {
  display         : block;
  background-color: black;
  text-align      : center;
}

a {
  color          : white;
  text-decoration: none;
}

#logo {
  display        : flex;
  margin-top     : 0.66rem;
  margin-bottom  : 0.66rem;
  align-items    : center;
  font-size      : 1rem;
  flex-direction : row;
  justify-content: flex-start;
}

#logo img {
  height      : 1.5rem;
  margin-right: 1rem;
  margin-left : 0.5rem;
}

#banner {
  display          : flex;
  width            : 100%;
  height           : 25rem;
  margin           : 0;
  overflow         : hidden;
  background-image : url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size  : cover;
  align-items      : center;
  flex-direction   : row;
  justify-content  : flex-start;
}

#moto {
  display         : flex;
  width           : 20rem;
  height          : auto;
  margin-top      : 9rem;
  padding         : 2rem 3rem;
  background-color: black;
  text-align      : left;
  flex-direction  : column;
}

#moto h1 {
  font-size: 2rem;
}

#moto h4 {
  padding-bottom: 0.25rem;
  font-size     : 1rem;
  font-weight   : bold;
}

nav {
  background-color: firebrick;
}

nav ul {
  display        : flex;
  padding-top    : 0.75rem;
  padding-bottom : 0.75rem;
  justify-content: space-around;
}

.product-grid {
  background-color: white;
}

.product-grid .container {
  display        : flex;
  flex-flow      : row wrap;
  justify-content: space-between;
}

.product-grid img {
  height          : 9rem;
  padding-top     : 2rem;
  padding-bottom  : 2rem;
  background-color: white;
  width           : auto;
  display         : block;
  background-clip : content-box;
}

.product-grid .container-content {
  margin-top   : 3rem;
  margin-bottom: 3rem;
  border       : 4px solid black;
  text-align   : left;

}

.info {
  display         : flex;
  background-color: black;
  align-items     : center;
  flex-direction  : row;
  justify-content : center;
}

.info-content {
  width         : 35%;
  margin-top    : 3rem;
  margin-bottom : 4rem;
  padding-top   : 1rem;
  padding-bottom: 1rem;
  padding-left  : 2rem;
}

footer .container {
  display        : block;
  text-align     : left;
  vertical-align : middle;
  height         : 5rem;
  background-clip: border-box;
}
